* {
  border: 1px solid darkgrey;
  border-radius: 10px;
}

#pageContainer {
  max-width: 90%;
}

.correct {
  border: 3px solid green;
}

.incorrect {
  border: 3px solid red;
}

.answer {
  padding: 2px;
}