* {
  border: 1px solid darkgrey;
  border-radius: 10px;
}

#pageContainer {
  max-width: 90%;
}

.correct {
  border: 3px solid green;
}

.incorrect {
  border: 3px solid red;
}

.answer {
  padding: 2px;
}

#titleBox > h1 {
  color: #4baf3f;
  font-family: 'Anton', sans-serif; 
  font-size: 59px; 
  font-weight: bold;
  width: 59%;
  margin: 1.5% auto;

  -webkit-transform:scale(1.75, 1.0);
  -moz-transform:scale(1.75, 1.0);
  -ms-transform:scale(1.75, 1.0);
  -o-transform:scale(1.75, 1.0);
  transform:scale(1.75,1.0);
}

#titleBox > h1 > small {
  font-size: 60%;
  color: #4baf3f;
  position: relative;
  bottom: 29px;
  margin: 0 -12px;
}

#welcomeImage {
  max-width: 100%;
}

#gif-box > img {
  margin: 2px auto;
}